In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from plotly.offline import init_notebook_mode, iplot, plot
import plotly.graph_objects as go
from datetime import datetime, timedelta
import sys, os

In [2]:
df = pd.read_csv(os.path.join(os.path.dirname(os.path.dirname(os.path.abspath('file'))), 'data', 'pernoctaciones.csv'), sep = '\t', encoding = 'latin-1')
df

,Comunidades y Ciudades Autónomas,Viajeros y pernoctaciones,Residencia,Periodo,Total
0,Total Nacional,Viajero,Total,2021M08,1.522.343
1,Total Nacional,Viajero,Total,2021M07,1.262.010
2,Total Nacional,Viajero,Total,2021M06,637.306
3,Total Nacional,Viajero,Total,2021M05,345.765
4,Total Nacional,Viajero,Total,2021M04,205.867
...,...,...,...,...,...
5275,19 Melilla,Pernoctaciones,Residentes en el Extranjero,2018M05,NaN
5276,19 Melilla,Pernoctaciones,Residentes en el Extranjero,2018M04,NaN
5277,19 Melilla,Pernoctaciones,Residentes en el Extranjero,2018M03,NaN
5278,19 Melilla,Pernoctaciones,Residentes en el Extranjero,2018M02,NaN
5279,19 Melilla,Pernoctaciones,Residentes en el Extranjero,2018M01,NaN

In [5]:
path = 
print(path)

e:\The_Bridge\Python_alumno\2-Data_analysis\entregas\EDACopia\data\covid.jpg

In [49]:
total = []
for i in df['Total']:
    if i != '.':
        total.append(i)
    else:
        total.append('0')

df['Total'] = total

In [50]:
df['Periodo'] = df['Periodo'].str.replace('M', '-')
df

,Comunidades y Ciudades Autónomas,Viajeros y pernoctaciones,Residencia,Periodo,Total
0,Total Nacional,Viajero,Total,2021-08,1.522.343
1,Total Nacional,Viajero,Total,2021-07,1.262.010
2,Total Nacional,Viajero,Total,2021-06,637.306
3,Total Nacional,Viajero,Total,2021-05,345.765
4,Total Nacional,Viajero,Total,2021-04,205.867
...,...,...,...,...,...
5275,19 Melilla,Pernoctaciones,Residentes en el Extranjero,2018-05,NaN
5276,19 Melilla,Pernoctaciones,Residentes en el Extranjero,2018-04,NaN
5277,19 Melilla,Pernoctaciones,Residentes en el Extranjero,2018-03,NaN
5278,19 Melilla,Pernoctaciones,Residentes en el Extranjero,2018-02,NaN
5279,19 Melilla,Pernoctaciones,Residentes en el Extranjero,2018-01,NaN

In [51]:
df['Total'] = df['Total'].str.replace('.', '')
df['Total'].fillna(0)
df

C:\Users\Toni\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:

The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

,Comunidades y Ciudades Autónomas,Viajeros y pernoctaciones,Residencia,Periodo,Total
0,Total Nacional,Viajero,Total,2021-08,1522343
1,Total Nacional,Viajero,Total,2021-07,1262010
2,Total Nacional,Viajero,Total,2021-06,637306
3,Total Nacional,Viajero,Total,2021-05,345765
4,Total Nacional,Viajero,Total,2021-04,205867
...,...,...,...,...,...
5275,19 Melilla,Pernoctaciones,Residentes en el Extranjero,2018-05,NaN
5276,19 Melilla,Pernoctaciones,Residentes en el Extranjero,2018-04,NaN
5277,19 Melilla,Pernoctaciones,Residentes en el Extranjero,2018-03,NaN
5278,19 Melilla,Pernoctaciones,Residentes en el Extranjero,2018-02,NaN
5279,19 Melilla,Pernoctaciones,Residentes en el Extranjero,2018-01,NaN

In [52]:
df['Total'].astype(float)
df

,Comunidades y Ciudades Autónomas,Viajeros y pernoctaciones,Residencia,Periodo,Total
0,Total Nacional,Viajero,Total,2021-08,1522343
1,Total Nacional,Viajero,Total,2021-07,1262010
2,Total Nacional,Viajero,Total,2021-06,637306
3,Total Nacional,Viajero,Total,2021-05,345765
4,Total Nacional,Viajero,Total,2021-04,205867
...,...,...,...,...,...
5275,19 Melilla,Pernoctaciones,Residentes en el Extranjero,2018-05,NaN
5276,19 Melilla,Pernoctaciones,Residentes en el Extranjero,2018-04,NaN
5277,19 Melilla,Pernoctaciones,Residentes en el Extranjero,2018-03,NaN
5278,19 Melilla,Pernoctaciones,Residentes en el Extranjero,2018-02,NaN
5279,19 Melilla,Pernoctaciones,Residentes en el Extranjero,2018-01,NaN

In [71]:
df.to_csv(os.path.join(os.path.dirname(os.path.dirname(os.path.abspath('file'))), 'data', 'pernoc_tableau.csv'))

In [72]:
df = pd.read_csv(os.path.join(os.path.dirname(os.path.dirname(os.path.abspath('file'))), 'data', 'fact_host.csv'), sep = ';')
df

                                                  Año Periodo Variación anual
0                                                1997     Año             8,2
1                                                1998     Año            11,7
2                                                1999     Año            16,2
3                                                2000     Año               8
4                                                2001     Año             0,9
5                                                2002     Año             2,3
6                                                2003     Año            -7,1
7                                                2004     Año             2,6
8                                                2005     Año            12,4
9                                                2006     Año             0,8
10                                               2007     Año            -1,8
11                                               2008     Año             2,5
12                                               2009     Año           -11,6
13                                               2010     Año             1,2
14                                               2011     Año             2,3
15                                               2012     Año            -2,5
16                                               2013     Año             1,8
17                                               2014     Año             2,4
18                                               2015     Año             5,5
19                                               2016     Año             6,1
20                                               2017     Año             6,3
21                                               2018     Año             1,5
22                                               2019     Año             4,7
23                                               2020     Año           -54,2
24                                                NaN     NaN             NaN
25                                                NaN     NaN             NaN
26                          Métrica:"Variación anual"     NaN             NaN
27                                      Fuente:"AEAT"     NaN             NaN
28                                   Clasificación:""     NaN             NaN
29                                         Unidad:"%"     NaN             NaN
30                                  Escala:"Unidades"     NaN             NaN
31                         EscalaFactorPotencia10:"0"     NaN             NaN
32                           SonDatosNumericos:"True"     NaN             NaN
33                                                NaN     NaN             NaN
34                                                NaN     NaN             NaN
35  Url:"https://www.epdata.es/variacion-anual-fac...     NaN             NaN
36  Titulo:"Variación anual de la facturación de l...     NaN             NaN
37  Subtitulo:"Serie deflactada y desestacionalizada"     NaN             NaN

In [73]:
df = df[4:24].reset_index(drop = True)
df

     Año Periodo Variación anual
0   2001     Año             0,9
1   2002     Año             2,3
2   2003     Año            -7,1
3   2004     Año             2,6
4   2005     Año            12,4
5   2006     Año             0,8
6   2007     Año            -1,8
7   2008     Año             2,5
8   2009     Año           -11,6
9   2010     Año             1,2
10  2011     Año             2,3
11  2012     Año            -2,5
12  2013     Año             1,8
13  2014     Año             2,4
14  2015     Año             5,5
15  2016     Año             6,1
16  2017     Año             6,3
17  2018     Año             1,5
18  2019     Año             4,7
19  2020     Año           -54,2

In [74]:
df['Variación anual'] = df['Variación anual'].str.replace(',', '.')
df['Variación anual'] = df['Variación anual'].astype(float)
df

     Año Periodo  Variación anual
0   2001     Año              0.9
1   2002     Año              2.3
2   2003     Año             -7.1
3   2004     Año              2.6
4   2005     Año             12.4
5   2006     Año              0.8
6   2007     Año             -1.8
7   2008     Año              2.5
8   2009     Año            -11.6
9   2010     Año              1.2
10  2011     Año              2.3
11  2012     Año             -2.5
12  2013     Año              1.8
13  2014     Año              2.4
14  2015     Año              5.5
15  2016     Año              6.1
16  2017     Año              6.3
17  2018     Año              1.5
18  2019     Año              4.7
19  2020     Año            -54.2

In [75]:
maximo = np.ones(len(df)) * df['Variación anual'].max()
minimo = np.ones(len(df)) * df['Variación anual'].min()

In [77]:
trace = go.Scatter(x = df['Año'],
                  y = df['Variación anual'],
                  name = 'Variación de facturación en hostelería',
                  mode= 'lines')

trace_h1 = go.Scatter(x = df['Año'],
                  y = maximo,
                  name = 'Máxima variación de facturación',
                  mode= 'lines',
                  opacity = 0.4,
                  marker=dict(
                          color='green',
                          size=10,
                          ))

trace_h2 = go.Scatter(x = df['Año'],
                  y = minimo,
                  name = 'Mínimo variación de facturación',
                  mode= 'lines',
                  opacity = 0.4,
                  marker=dict(
                          color='red',
                          size=10,
                          ))

data = [trace, trace_h1, trace_h2]

layout = dict(title = 'Variación anual de facturación en hostelería (2001-2020)',
             xaxis= dict(title= 'Año',ticklen= 5),
             yaxis= dict(title= '% Variación',ticklen= 5)
           )

fig = go.Figure(data = data, layout=layout)

iplot(fig)

fig.write_html(os.path.join(os.path.dirname(os.path.dirname(os.path.abspath('file'))), 'data', 'var_fact.html'))

In [78]:
df = pd.read_csv(os.path.join(os.path.dirname(os.path.dirname(os.path.abspath('file'))), 'data', 'por_emp_dest.csv'), sep = ';')
df

,Año,Periodo,Parámetro,%
0,2020,Andalucía,Andalucía,"23,26"
1,2020,Aragón,Aragón,"14,74"
2,2020,Asturias,Asturias,"14,94"
3,2020,Baleares,Baleares,"16,9"
4,2020,C-LM,C-LM,"18,69"
5,2020,C.Valenciana,C.Valenciana,"18,4"
6,2020,Canarias,Canarias,"19,88"
7,2020,Cantabria,Cantabria,"14,79"
8,2020,Cataluña,Cataluña,"15,18"
9,2020,Ceuta,Ceuta,"15,94"
10,2020,CyL,CyL,"14,7"
11,2020,Extremadura,Extremadura,"20,34"
12,2020,Galicia,Galicia,"14,29"
13,2020,Madrid,Madrid,"16,68"
14,2020,Melilla,Melilla,"25,13"
15,2020,Murcia,Murcia,"18,43"
16,2020,Nacional,Nacional,"17,45"
17,2020,Navarra,Navarra,"13,42"
18,2020,País Vasco,País Vasco,"12,64"
19,2020,"Rioja, La","Rioja, La","14,33"
20,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN
22,"Métrica:""%""",NaN,NaN,NaN
23,"Fuente:""INE""",NaN,NaN,NaN
24,"Clasificación:""""",NaN,NaN,NaN
25,"Unidad:""%""",NaN,NaN,NaN
26,"Escala:""Unidades""",NaN,NaN,NaN
27,"EscalaFactorPotencia10:""0""",NaN,NaN,NaN
28,"SonDatosNumericos:""True""",NaN,NaN,NaN
29,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN
31,"Url:""https://www.epdata.es/porcentaje-empresas...",NaN,NaN,NaN
32,"Titulo:""Porcentaje de empresas a 1 de enero de...",NaN,NaN,NaN
33,"Subtitulo:""Coincidiendo con la crisis del coro...",NaN,NaN,NaN

In [79]:
df = df[0:20]
df

     Año       Periodo     Parámetro      %
0   2020     Andalucía     Andalucía  23,26
1   2020        Aragón        Aragón  14,74
2   2020      Asturias      Asturias  14,94
3   2020      Baleares      Baleares   16,9
4   2020          C-LM          C-LM  18,69
5   2020  C.Valenciana  C.Valenciana   18,4
6   2020      Canarias      Canarias  19,88
7   2020     Cantabria     Cantabria  14,79
8   2020      Cataluña      Cataluña  15,18
9   2020         Ceuta         Ceuta  15,94
10  2020           CyL           CyL   14,7
11  2020   Extremadura   Extremadura  20,34
12  2020       Galicia       Galicia  14,29
13  2020        Madrid        Madrid  16,68
14  2020       Melilla       Melilla  25,13
15  2020        Murcia        Murcia  18,43
16  2020      Nacional      Nacional  17,45
17  2020       Navarra       Navarra  13,42
18  2020    País Vasco    País Vasco  12,64
19  2020     Rioja, La     Rioja, La  14,33

In [80]:
df['%'] = df['%'].str.replace(',', '.')
df['%'] = df['%'].astype(float)
df

C:\Users\Toni\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Toni\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     Año       Periodo     Parámetro      %
0   2020     Andalucía     Andalucía  23.26
1   2020        Aragón        Aragón  14.74
2   2020      Asturias      Asturias  14.94
3   2020      Baleares      Baleares  16.90
4   2020          C-LM          C-LM  18.69
5   2020  C.Valenciana  C.Valenciana  18.40
6   2020      Canarias      Canarias  19.88
7   2020     Cantabria     Cantabria  14.79
8   2020      Cataluña      Cataluña  15.18
9   2020         Ceuta         Ceuta  15.94
10  2020           CyL           CyL  14.70
11  2020   Extremadura   Extremadura  20.34
12  2020       Galicia       Galicia  14.29
13  2020        Madrid        Madrid  16.68
14  2020       Melilla       Melilla  25.13
15  2020        Murcia        Murcia  18.43
16  2020      Nacional      Nacional  17.45
17  2020       Navarra       Navarra  13.42
18  2020    País Vasco    País Vasco  12.64
19  2020     Rioja, La     Rioja, La  14.33

In [81]:
df1 = pd.read_csv(os.path.join(os.path.dirname(os.path.dirname(os.path.abspath('file'))), 'data', 'por_emp_host.csv'), sep = ';')
df1

,Año,Periodo,Parámetro,% de empresas con actividad en el sector de Servicios de comidas y bebidas
0,2020,Andalucía,Andalucía,"30,62"
1,2020,Aragón,Aragón,"25,25"
2,2020,Asturias,Asturias,"20,83"
3,2020,Baleares,Baleares,"24,83"
4,2020,C-LM,C-LM,"27,89"
5,2020,C.Valenciana,C.Valenciana,"26,41"
6,2020,Canarias,Canarias,"24,47"
7,2020,Cantabria,Cantabria,"21,26"
8,2020,Cataluña,Cataluña,"23,8"
9,2020,Ceuta,Ceuta,"19,7"
10,2020,CyL,CyL,"21,14"
11,2020,Extremadura,Extremadura,"30,35"
12,2020,Galicia,Galicia,"22,35"
13,2020,Madrid,Madrid,"23,86"
14,2020,Melilla,Melilla,"17,12"
15,2020,Murcia,Murcia,"26,36"
16,2020,Nacional,Nacional,"25,14"
17,2020,Navarra,Navarra,"21,1"
18,2020,País Vasco,País Vasco,"17,25"
19,2020,"Rioja, La","Rioja, La","23,48"
20,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN
22,"Métrica:""% de empresas con actividad en el se...",NaN,NaN,NaN
23,"Fuente:""INE""",NaN,NaN,NaN
24,"Clasificación:""""",NaN,NaN,NaN
25,"Unidad:""%""",NaN,NaN,NaN
26,"Escala:""Unidades""",NaN,NaN,NaN
27,"EscalaFactorPotencia10:""0""",NaN,NaN,NaN
28,"SonDatosNumericos:""True""",NaN,NaN,NaN
29,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN
31,"Url:""https://www.epdata.es/porcentaje-empresas...",NaN,NaN,NaN
32,"Titulo:""Porcentaje de empresas de hostelería a...",NaN,NaN,NaN
33,"Subtitulo:""Coincidiendo con la crisis del coro...",NaN,NaN,NaN

In [82]:
df1 = df1[0:20]
df1

,Año,Periodo,Parámetro,% de empresas con actividad en el sector de Servicios de comidas y bebidas
0,2020,Andalucía,Andalucía,"30,62"
1,2020,Aragón,Aragón,"25,25"
2,2020,Asturias,Asturias,"20,83"
3,2020,Baleares,Baleares,"24,83"
4,2020,C-LM,C-LM,"27,89"
5,2020,C.Valenciana,C.Valenciana,"26,41"
6,2020,Canarias,Canarias,"24,47"
7,2020,Cantabria,Cantabria,"21,26"
8,2020,Cataluña,Cataluña,"23,8"
9,2020,Ceuta,Ceuta,"19,7"
10,2020,CyL,CyL,"21,14"
11,2020,Extremadura,Extremadura,"30,35"
12,2020,Galicia,Galicia,"22,35"
13,2020,Madrid,Madrid,"23,86"
14,2020,Melilla,Melilla,"17,12"
15,2020,Murcia,Murcia,"26,36"
16,2020,Nacional,Nacional,"25,14"
17,2020,Navarra,Navarra,"21,1"
18,2020,País Vasco,País Vasco,"17,25"
19,2020,"Rioja, La","Rioja, La","23,48"

In [83]:
df1.rename(columns={'% de empresas  con actividad en el sector de Servicios de comidas y bebidas':'%'}, inplace = True)
df1

C:\Users\Toni\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\frame.py:5047: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     Año       Periodo     Parámetro      %
0   2020     Andalucía     Andalucía  30,62
1   2020        Aragón        Aragón  25,25
2   2020      Asturias      Asturias  20,83
3   2020      Baleares      Baleares  24,83
4   2020          C-LM          C-LM  27,89
5   2020  C.Valenciana  C.Valenciana  26,41
6   2020      Canarias      Canarias  24,47
7   2020     Cantabria     Cantabria  21,26
8   2020      Cataluña      Cataluña   23,8
9   2020         Ceuta         Ceuta   19,7
10  2020           CyL           CyL  21,14
11  2020   Extremadura   Extremadura  30,35
12  2020       Galicia       Galicia  22,35
13  2020        Madrid        Madrid  23,86
14  2020       Melilla       Melilla  17,12
15  2020        Murcia        Murcia  26,36
16  2020      Nacional      Nacional  25,14
17  2020       Navarra       Navarra   21,1
18  2020    País Vasco    País Vasco  17,25
19  2020     Rioja, La     Rioja, La  23,48

In [84]:
df1['%'] = df1['%'].str.replace(',', '.')
df1['%'] = df1['%'].astype(float)
df1

C:\Users\Toni\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Toni\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     Año       Periodo     Parámetro      %
0   2020     Andalucía     Andalucía  30.62
1   2020        Aragón        Aragón  25.25
2   2020      Asturias      Asturias  20.83
3   2020      Baleares      Baleares  24.83
4   2020          C-LM          C-LM  27.89
5   2020  C.Valenciana  C.Valenciana  26.41
6   2020      Canarias      Canarias  24.47
7   2020     Cantabria     Cantabria  21.26
8   2020      Cataluña      Cataluña  23.80
9   2020         Ceuta         Ceuta  19.70
10  2020           CyL           CyL  21.14
11  2020   Extremadura   Extremadura  30.35
12  2020       Galicia       Galicia  22.35
13  2020        Madrid        Madrid  23.86
14  2020       Melilla       Melilla  17.12
15  2020        Murcia        Murcia  26.36
16  2020      Nacional      Nacional  25.14
17  2020       Navarra       Navarra  21.10
18  2020    País Vasco    País Vasco  17.25
19  2020     Rioja, La     Rioja, La  23.48

In [85]:
trace = go.Scatter(x = df['Periodo'],
                  y = df['%'],
                  name = 'Porcentaje de empresas destruidas',
                  mode= 'lines')

trace1 = go.Scatter(x = df1['Periodo'],
                  y = df1['%'],
                  name = 'Porcentaje de empresas hosteleras destruidas',
                  mode= 'lines')

data = [trace, trace1]

layout = dict(title = 'Porcentaje de empresas en enero de 2020 que se habían destruido por comunidad',
             xaxis= dict(title= 'Año',ticklen= 5),
             yaxis= dict(title= '% de empresas destruidas',ticklen= 5)
           )

fig = go.Figure(data = data, layout=layout)

iplot(fig)

fig.write_html(os.path.join(os.path.dirname(os.path.dirname(os.path.abspath('file'))), 'data', 'des_emp_com.html'))